<h1>Tuple</h1>

<h2>Creating Tuple</h2>

In [1]:
simple_tuple = ("tset", 68, 9.0, "tttt")
print(simple_tuple)

('tset', 68, 9.0, 'tttt')

<h2>Printing Type</h2>

In [2]:
print(type(simple_tuple))

<class 'tuple'>

<h2>Getting Length</h2>

In [3]:
print(len(simple_tuple))

4

<h2>Nested_Tuple</h2>

In [4]:
nested_tuple = (("test", "data"), ("Test", "data2"), (2,6,3,8))
print(nested_tuple)

(('test', 'data'), ('Test', 'data2'), (2, 6, 3, 8))

<h2>Type of Nested Tuple</h2>

In [5]:
print(type(nested_tuple))

<class 'tuple'>

<h2>Length Of Nested tuple</h2>

In [6]:
print(len(nested_tuple))

3

<h2>Tuple Creation using split</h2>

In [7]:
sample_str = "Create Tuple from String"
print(sample_str.split())

['Create', 'Tuple', 'from', 'String']

<h2>Tuple Indexing</h2>

In [8]:
tuple_indexing = (0, 1, 2, 3, 4)
print(tuple_indexing)

(0, 1, 2, 3, 4)

In [9]:
print(tuple_indexing[0])

0

In [10]:
tuple_indexing[-len(tuple_indexing)]

0

In [11]:
tuple_indexing[-1]

4

In [12]:
simple_tuple = ("item1", 2, 'item3', 4)

In [13]:
simple_tuple[:3]

('item1', 2, 'item3')

In [14]:
simple_tuple[::2]

('item1', 'item3')

In [15]:
simple_tuple[2::-1]

('item3', 2, 'item1')

<h2>Verification of tuple mutability</h2>

In [16]:
simple_tuple = ("item1", 2, 'item3', 4)

simple_tuple[0] = "item0"

TypeError: 'tuple' object does not support item assignment

<h2>Tuple Methods</h2>

In [17]:
tuple_method = (1, 2, 2, 2, 3, 4, 2, 5, 6, 7)
print(tuple_method.count(2))

4

In [18]:
tuple_method.index(4)

5

<h2>Typecasting Tuple</h2>

In [19]:
simple_tuple = ("item1", 2, 'item3', 4)
simple_list = list(simple_tuple)
print(simple_list)

['item1', 2, 'item3', 4]

In [20]:
simple_list.append(5)

In [21]:
simple_tuple = tuple(simple_list)
print(simple_tuple)

('item1', 2, 'item3', 4, 5)

In [23]:
simple_tuple = ("item1", 2, 'item3', 4)
new= (5, 7)
print(simple_tuple)
simple_tuple = simple_tuple+new
print(simple_tuple)

('item1', 2, 'item3', 4)
('item1', 2, 'item3', 4, 5, 7)

<h2>Unpacking Tuples</h2>

In [24]:
a, b, c, d = simple_tuple = ("item1", 2, 'item3', 4)
print(a)
print(b)
print(c)
print(d)

item1
2
item3
4

In [25]:
a, *b, c = simple_tuple

print(a)
print(b)
print(c)

item1
[2, 'item3']
4

In [26]:
simple_tuple = ("item1", 2, 'item3', 4)

for item in simple_tuple:
    print(item)
    print('---------------')

item1
---------------
2
---------------
item3
---------------
4
---------------

In [27]:
simple_tuple = ("item1", 2, 'item3', 4)

for idx, item in enumerate(simple_tuple):
    print(idx, item)
    print('--------------------')

0 item1
--------------------
1 2
--------------------
2 item3
--------------------
3 4
--------------------

In [28]:
sample_tuple = ("APPLE", "Mango", "BaNaNa", "GRapes")

lower_tuple = tuple(item.lower() for item in sample_tuple)

print(lower_tuple)

('apple', 'mango', 'banana', 'grapes')