<h1>Data Science and Machine Learning</h1>

<h2>CRUD Operation in python</h2>

In [4]:
import mysql.connector
db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="root"
)

c = db.cursor()
 
c.execute("SHOW DATABASES")

for i in c:
    print(i)
c = db.cursor()
 
db.close()

('Data_Science',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

<h2>Create Table</h2>

In [3]:
import mysql.connector
from mysql.connector import Error

try:
    db = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="root",
        database="Data_Science"
    )
    c = db.cursor()

    c.execute("CREATE TABLE IF NOT EXISTS Tbl1 (id INT NOT NULL AUTO_INCREMENT PRIMARY KEY, name VARCHAR(50), address VARCHAR(50), Salary VARCHAR(50))")
    print("Table Creation Success.")

    c.execute("SHOW COLUMNS FROM Tbl1")
    columns = c.fetchall()
    for column in columns:
        print(column)

except Error as e:
    print("Error:", e)

finally:
    if c:
        c.close()

Table Creation Success.
('id', b'int', 'NO', 'PRI', None, 'auto_increment')
('name', b'varchar(50)', 'YES', '', None, '')
('address', b'varchar(50)', 'YES', '', None, '')
('Salary', b'varchar(50)', 'YES', '', None, '')

<h2>Insert and Read data</h2>

In [18]:
import mysql.connector
from mysql.connector import Error

try:
    db = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="root",
        database="Data_Science"
    )
    c = db.cursor()
    sql = "INSERT INTO Tbl1 (name, address, salary) VALUES (%s, %s, %s)"
    val = ("Pradeep", "Surkhet Sahare", "30000")
    c.execute(sql, val)
    print("Insertion Success")
    
    db.commit()
    
    c.execute("SELECT * FROM Tbl1")
    data = c.fetchall()
    for d in data:
        print(d)

except Error as e:
    print("Error:", e)

finally:
    if c:
        c.close()

Insertion Success
(7, 'Pradeep', 'Surkhet Sahare', '30000')

<h2>Update Data</h2>

In [20]:
import mysql.connector
from mysql.connector import Error

try:
    db = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="root",
        database="Data_Science"
    )
    c = db.cursor()
    c.execute("UPDATE Tbl1 SET salary = '20000' WHERE id = '7'")
    
    db.commit()
    
    print(c.rowcount, "record(s) affected")
    c = db.cursor()
    c.execute("SELECT * FROM Tbl1 WHERE id=7")
    data = c.fetchall()
    for d in data:
        print(d)

except Error as e:
    print("Error:", e)

finally:
    if c:
        c.close()

1 record(s) affected
(7, 'Pradeep', 'Surkhet Sahare', '20000')

<h2>Delete Data</h2>

In [21]:
import mysql.connector
from mysql.connector import Error

try:
    db = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="root",
        database="Data_Science"
    )
    c = db.cursor()
    c.execute("DELETE FROM Tbl1 WHERE id = '7'")
    
    db.commit()
    
    print(c.rowcount, "record(s) affected")

except Error as e:
    print("Error:", e)

finally:
    if c:
        c.close()

1 record(s) affected